/augmentation/*.csv
/augmentation/augmented/*.csv
/augmentation/FastText/*.bin
/augmentation/FastText/*.vec
/augmentation/FastText/*.zip
/augmentation/split_csvs/*.csv
/augmentation/translated/*.csv
/Data/*.csv
/Data/multi-lingual/*.csv
/evaluation/data
/lightning_logs
/LossFunctions/__pycache__
/Metrics_results/bert-base-cased/*.pkl
/Metrics_results/bert-base-cased/test/*.pkl
/Metrics_results/bert-base-cased/training/*.pkl
/Metrics_results/bert-base-cased/training/binary/*.pkl
/Metrics_results/bert-base-cased/validation/*.pkl
/Metrics_results/bert-base-cased/validation/binary/*.pkl
/Metrics_results/BERT-Base-Uncased/validation/binary/*.pkl
/Metrics_results/BERT-Base-Uncased/validation/*.pkl
/Metrics_results/BERT-Base-Uncased/*.pkl
/Metrics_results/BERT-Base-Uncased/training/*.pkl
/Metrics_results/BERT-Base-Uncased/training/binary/*.pkl
/Metrics_results/BERT-Base-Uncased/test/*.pkl
/Metrics_results/ensemble/*.pkl

/Metrics_results/distilbert-base-cased/*.pkl
/Metrics_results/distilbert-base-cased/test/*.pkl
/Metrics_results/distilbert-base-cased/training/*.pkl
/Metrics_results/distilbert-base-cased/training/binary/*.pkl
/Metrics_results/distilbert-base-cased/validation/*.pkl
/Metrics_results/distilbert-base-cased/validation/binary/*.pkl

/Metrics_results/distilbert-base-uncased/*.pkl
/Metrics_results/distilbert-base-uncased/test/*.pkl
/Metrics_results/distilbert-base-uncased/training/*.pkl
/Metrics_results/distilbert-base-uncased/training/binary/*.pkl
/Metrics_results/distilbert-base-uncased/validation/*.pkl
/Metrics_results/distilbert-base-uncased/validation/binary/*.pkl


/Metrics_results/HateBert/training/*.pkl
/Metrics_results/HateBert/validation/*.pkl
/Metrics_results/HateBert/test/*.pkl

/Metrics_results/mBERTu/training/*.pkl
/Metrics_results/mBERTu/validation/*.pkl
/Metrics_results/mBERTu/test/*.pkl

/Metrics_results/roberta-base/*.pkl
/Metrics_results/roberta-base/test/*.pkl
/Metrics_results/roberta-base/training/*.pkl
/Metrics_results/roberta-base/training/binary/*.pkl
/Metrics_results/roberta-base/validation/*.pkl
/Metrics_results/roberta-base/validation/binary/*.pkl

/Metrics_results/GroNLP/hateBert/training/GroNLP/*.pkl
/Metrics_results/GroNLP/hateBert/validation/GroNLP/*.pkl

/Metrics_results/xlm-roberta-base

/models/__pycache__
/saved
/tokenized/*/
/models/calibrate/__pycache__
/models/Super_BERT/__pycache__
/models/Super_BERT/multi_label/__pycache__
/models/Super_BERT/multi_label/multi_label_implementations/__pycache__
/models/Super_BERT/multi_label/multi_label_implementations/augmentation/__pycache__
/models/Super_BERT/replication/__pycache__